# Defines if library mode is used for tunnel client. No templates are generated when using this mode.
# Added to support usage in codefresh-gitops-runtime Helm chart
libraryMode: false

global: {}

image:
  repository: quay.io/codefresh/frpc
  pullPolicy: IfNotPresent
  tag: "59bd12e"

# set log level for tunnel client
logLevel: 'info'

tunnelServer:
  host:
  port: 443
  # Do not change this
  protocol: wss
  # Set tls true or false
  tls: true
  # Authorization
  authorization:
    secretKeyRef:
      name: codefresh-token
      key: token

tunnel:
  # Subdomain is defined on the sever. The client sets it's prefix. For example, if the subdomain host on server
  # is tunnels.example setting this value to would make the tunnel acces
  subdomainPrefix:
  # Subdomain host as defined on the server. This is not actually used in any of the templates in the client chart. Rather, this is required
  # in the chart that installs the runtime
  subdomainHost:

  # lists the rules to configure which IP addresses and subnet masks can access your client
  ipsAllowList: ""

  # Where the tunnel forwards to
  forwardTo:
    type: http
    host: internal-router
    location: "/"
    port: 80

serviceAccount:
  create: true
  annotations: {}
  name: "codefresh-tunnel-client"

# Deployment name override for tunnel server
nameOverride:
# Additional environemnt variables for server
env: []
imagePullSecrets: []
nodeSelector: {}
tolerations: []
affinity: {}
resources: {}
podSecurityContext: {}
podAnnotations: {}
