{{- if .Values.tunnels.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "codefresh-tunnel-server.name" . }}-tunnels
  annotations:
    {{- with .Values.tunnels.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  ingressClassName: {{ .Values.tunnels.ingress.ingressClassName}}
  rules:
    - host: {{ include "codefresh-tunnel-server.tunnels-ingress-host" . }}
      http:
        paths:
          - backend:
              service:
                name: {{ include "codefresh-tunnel-server.name" . }}-tunnels
                port:
                  name: tunnels
            path: /
            pathType: Prefix
  {{- if .Values.tunnels.ingress.tls.enabled }}
  tls:
  - hosts:
    - {{ include "codefresh-tunnel-server.tunnels-ingress-host" . }}
    secretName: {{ include "codefresh-tunnel-server.tunnels.tlsSecretName" . }}
  {{- end }}
{{- end }}
